{% extends "base.html" %}

{% block content %}
<div id="about-p-div">
    <p class="about-p">This website is a project for <a target=”_blank” class="custom-a" href="https://btu.edu.ge">The Business And Technology University</a>. Made by Luka
    Tsanava and Tamar Kobaladze.</p><br><br>
    <p class="about-p">The list of the albums has been scraped from <a target=”_blank” class="custom-a" href="https://www.last.fm">Last.Fm</a> and the details have been retrieved
    from the official Last.Fm API. The image on the home page (OD SKELETON.png) has been taken from
    <a target=”_blank” class="custom-a" href="https://commons.wikimedia.org">Wikimedia.org</a>.</p>
</div>
<img style="margin: auto; display: block;" width="20%" src="{{ url_for('static', filename='images/main/COOL.png') }}"/>


{% endblock %}