{% extends "base.html" %}

{% block content %}

<img style="float: left; margin-right: 30px;" width="30%" src="{{ url_for('static', filename='images/%s' % (album.image)) }}" />
<p class="album-desc">Title - {{ album.title }}</p>
<p class="album-desc">Artist - {{ album.artist }}</p>
<p class="album-desc">Published On Last.Fm - {{ album.date }}</p>
<p class="album-desc">Tags - {{ album.tags }}</p>
<p class="album-desc">Album Summary - {{ album.summary.split("<")[0]}}... (Read More On <a class="custom-a" href="https://www.last.fm/home">Last.Fm</a>)</p>

{% endblock %}