<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/styles.css') }}"/>
<title>Spooky</title>
</head>

<body>
    <div id="title">
        <nav class="nav-ul">
            <a class="nav-link" href="{{url_for('home')}}">Home</a>
            <a class="nav-link" href="{{url_for('browse')}}">Browse</a>
            <a class="nav-link" href="{{url_for('about')}}">About</a>
        </nav>
    </div>
    <main>
        <aside>
            <ul class="sidebar">
                <li class="sidebar-p">
                    {% if "username" in session %}
                        <p class="sidebar-li-a">User:<br>{{session["username"]}}</p>
                        {% else %}
                        <p class="sidebar-li-a">User:<br>Guest<br>(Not Logged In)</p>
                    {% endif %}
                </li>
                {% if "date" in session %}
                <li class="sidebar-p">
                        <p class="sidebar-li-a"><br>Member Since:<br>{{session["date"]}}</p>
                </li>
                {% endif %}
                {% if "username" in session %}
                <li class="sidebar-li">
                    <a href="{{url_for('logout')}}" class="sidebar-li-a"><br>Log Out</a>
                </li>
                {% else %}
                <li class="sidebar-li">
                    <a href="{{url_for('login')}}" class="sidebar-li-a"><br>Log In/Register</a>
                </li>
                {% endif %}
            </ul>
        </aside>
        <div id="content">
        {% block content %}{% endblock %}
        </div>
       
    </main>
</body>

</html>